.main-home-page{
    position: relative;
}

.nav-bar-container{
    width: 200px;
    height: 100vh;
    background-color: #f9f9fb;
    position: fixed;
}
.router-containter{
    margin-left: 200px;
}